<%= render :partial => 'layouts/header', locals: {loggingin: false} %>
<div class="location_show" style="background-image: url('http://wallpapercave.com/wp/Dq6o3uI.jpg');">
  <div class="container">
  <br><br><br><br>
  <p>SPLASH SCREEN HERE</p>
</div>
</div>

