<div class="location_show" style="background-image: url('http://wallpapercave.com/wp/Dq6o3uI.jpg');">
  <div class="container">
    <div class='row'>
      <div class='col-xs-3'>
      </div>
      <div class='col-xs-6'>
        <div class='gradient-box top'>
          <h2 class='center-title'>
            Welcome to Ge<img class='bounce' height='30' width='30' src='http://iconizer.net/files/WPZOOM_Developer_Icon_Set/orig/globe-1.png'>gamer!
          </h2>
          <p class='center-info top-bar'>
            ...You are tracking a mysterious figure. The only clue you get to this person's current location is a postcard of the country he/she is currently located in! Reveal bits of information about the country to figure out where you're headed! Don't use too many hints though, you'll lose points for each one you reveal! Sign up or log in to play!
          </p>
        </div>
        <div class='gradient-box top-bar'>
          <p class='tiny-text center-info'><br>
            Created by: <%= randomized_names %>
          </p>
        </div>
      </div>
      <div class='col-xs-3'>
      </div>
    </div>
    <!-- <img class='earth-logo' height='100' width='100' src='http://findicons.com/files/icons/1700/2d/512/globe_black.png'> -->
  </div>
</div>
