<div class="container">
  <div class="row">
    <% if logged_in? && current_user.admin? %>
    <h2>All Users</h2>

      <% @users.each do |user| %>
        <ul>
        <li><%= user.name %></li>
        <li><%= user.email %></li>
        <li><%= link_to "Delete this user", user_path(user), method: :delete, data: {confirm: "Are you sure you want to delete this user?"} %></li>
        </ul>
      <% end %>
      
      <% else %>

      <h2>You do not have access to this page.</h2>

      <h3>You do not have access to this page.</h3>
    <% end %>
  </div>
</div>