<div class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <p class='top-bar'>
      <span class='logo'>Ge<img height='20' width='20' src='http://iconizer.net/files/WPZOOM_Developer_Icon_Set/orig/globe-1.png'>gamer</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </p>
    </div>

    <div class="collapse navbar-collapse" id="navbar-ex-collapse">
      <div class="nav navbar-nav navbar-right">

      </div>
    </div>
  </div>
</div>


{{outlet}}
