<div class='game-display'>
  <p class='tiny-text'>
    Game date: <%= game.created_at %><br>
    Score: <%= game.score %>
  </p>
  <ul>
  <% game.locations.each do |location| %>
    <li class='tiny-text'>
      <span><%= location.name %><span><br><span class='center-info'><img height="100" width="175" src="<%= location.img_url %>"></span>
    </li>
  <% end %>
  </ul>
</div>
