<div class='location_show'>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-3'>
      </div>
      <div class='col-xs-6'>
        <div class='gradient-box top'>
          <h1 class='center-info'>Congratulations!</h1>
          <h3 class='center-info'>You won!!</h3>
          <p class='center-info'>You scored <%= @score %> points!<p>
        </div>
      </div>
      <div class='col-xs-3'>
      </div>
    </div>
  </div>
</div>
