/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



#cstm-nav-bar {
	height: 4.5em;
	background-color: pink;
}

#cstm-display {
	height: 60em;
	background-color: lightgreen;
	margin: 0;
}

	#cstm-column-left {
		float: left;
		width: 57%;
		height: 56em;
		margin: 2em 1% 2em 2%;
		background:pink;
	}

		#cstm-image-div {
			float: left;
			width: 100%;
			height: 37em;
			margin-bottom: 1em;	
			background:green;			
		}

		#cstm-guess-div {
			float: left;
			width: 100%;
			height: 18em;	
			background: green;			
		}

	#cstm-column-right {
		float: left;
		width: 37%;
		height: 56em;
		margin: 2em 2% 2em 1%;
		background: pink;	
	}

		.cstmCluesDiv {
			float: left;
			width: 100%;
			height: 7.1428em;
			margin-bottom: 1em;
			background: green;			
		}

		.cstmCluesDivLast {
			float: left;
			width: 100%;
			height: 7.1428em;
			background: green;		
		}


